<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Robot Details</title>
  <link rel="stylesheet" href="details.css" / </head>

  <body>
    <div class="container">
      {{ #robots }}
      <div class="results">
        <div class="topbar">
          <img src= {{ avatar }}>
          <div class="details">
            <span><p>{{ name }}</p></span>
            <div class="contact">
              <p>{{ address.city }}, {{ address.country }} | {{ job }}, {{ company }}</p>
              <p>{{ email }} | {{ phone }}</p>
            </div>
          </div>
        </div>
        <div class="history">
          <table>
            <tr>
              <th>Education</th>
              <td>
                <p>{{ university }}</p>
              </td>
            </tr>
            <tr>
              <th>Skills</th>
              <td>
                <ul>
                  <li>{{ skills.0 }}</li>
                  <li>{{ skills.1 }}</li>
                  <li>{{ skills.2 }}</li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <p>{{ /robots }}</p>
    </div>
  </body>

</html>
