body {
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.results {
  width: 1000px;
  margin: 15px;
  padding: 5px;
}
.topbar {
  display: flex;
  justify-content: center;
}
.details {
  text-align: center;
}

.contact {
  text-align: left;
}

p {
  margin: auto;
  padding-left: 25px;
}

span {
  color: #3F4E5C;
  font-size: 4.5em;
}

img {
  border: 1px solid lightgrey;
  border-radius: 50%;
}

th {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

ul {
  list-style-type: none;
}

table {
  display: flex;
  justify-content: center;
}
